$back-color: lightgray;
$height: 610px;
$size-box: 200px;
$size-left: 0px;
$size-top: 0px;
$width:600px;
.board{
  background-color: chartreuse;
  border-radius: 10%;
  height: $height;
  margin: 0 auto;
  position: relative;
  width: $width;
}
@for $i from 1 through 3 {
  
  .row#{$i}{
    @if ($i!=1) {
      border-top: 10px solid white;
    }
    float: left;
    height: $size-box;    
    position: absolute;
    top: $size-top;
    width: $width;
  }
  .column#{$i}{
    @if ($i!=3){
      border-right: 10px solid white;
    }
    height: $size-box;
    left: $size-left;
    position: absolute;
    width: $size-box;
  }
  $size-top: $size-top + $size-box;
  $size-left: $size-left + $size-box;
}

.symbol{
  color: #1947FF;
  font-family: cursive;
  font-size: 200px;
  line-height: $size-box;
  text-align: center;
}
.btn{
  display: none;
}