.board {
  background-color: chartreuse;
  border-radius: 10%;
  height: 610px;
  margin: 0 auto;
  position: relative;
  width: 600px; }

.row1 {
  float: left;
  height: 200px;
  position: absolute;
  top: 0px;
  width: 600px; }

.column1 {
  border-right: 10px solid white;
  height: 200px;
  left: 0px;
  position: absolute;
  width: 200px; }

.row2 {
  border-top: 10px solid white;
  float: left;
  height: 200px;
  position: absolute;
  top: 200px;
  width: 600px; }

.column2 {
  border-right: 10px solid white;
  height: 200px;
  left: 200px;
  position: absolute;
  width: 200px; }

.row3 {
  border-top: 10px solid white;
  float: left;
  height: 200px;
  position: absolute;
  top: 400px;
  width: 600px; }

.column3 {
  height: 200px;
  left: 400px;
  position: absolute;
  width: 200px; }

.symbol {
  color: #1947FF;
  font-family: cursive;
  font-size: 200px;
  line-height: 200px;
  text-align: center; }

.btn {
  display: none; }
